.main-content {
  display: flex;
  align-items: stretch;
  flex-direction: row;
}

.main-content-dark {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  background-color: rgba(68, 87, 96, 1);
}

.sidenav {
  width: fit-content;
  border-right: 1px solid #ffbe76;
}
.sidenav-dark {
  width: fit-content;
  border-right: 1px solid #ffbe76;
  background-color: rgba(68, 87, 96, 1);
}

.m-3 {
  display: flex;
}

.card-dark {
  background-color: rgba(68, 87, 96, 1);
  color: white;
  border: 1px solid white;
}
.header-border {
  border-bottom: 1px solid white;
}
.dark {
  background-color: rgba(68, 87, 96, 1);
}
.dark-heading {
  color: white;
}

.bulk-content {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  height: 87vh;
  overflow: scroll;
}


.bulk-content-dark {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  height: 87vh;
  overflow: scroll;
  color: black;
}

.export-pdf-button {
}
.topics {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #e6530f;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin-left: auto;
  margin-right: auto;
}

.topic-title {
  color: #e6530f;
  margin-left: 20px;
}

.red {
  color: red;
}

.yellow {
  color: rgb(219, 174, 26);
}

.green {
  color: green;
}

.export-pdf-button {
  display: flex;
  justify-content: center;
}

.student-footer {
  margin-left: 10px;
}
