.row {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.description {
  flex: 1;
  display: flex;
  justify-content: space-around;
  background-color: white;
  color: black;
}

.buttons {
  flex: 1;
  display: flex;
  justify-content: space-around;
  margin-right: 100px;
}

.description-background-4 {
  background-color: rgb(228, 59, 59);
  color: white;
}

.description-background-3 {
  background-color: rgb(255, 179, 16);
}

.description-background-2 {
  background-color: rgb(11, 136, 11);
  color: white;
}

.description-background-1 {
  background-color: white;
  color: black;
}
