.row {
  display: flex;
}

.description {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.buttons {
  flex: 1;
  display: flex;
  justify-content: end;
  margin-right: 100px;
}

.description-background-red {
  background-color: red;
}

.description-background-amber {
  background-color: yellow;
}

.description-background-green {
  background-color: green;
}
