.flex-it {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* border: 2px solid black; */
  width: 80%;
  margin: auto;
  margin-bottom: 5px;
}

.par {
  width: 80%;
  /* border: 2px solid black; */
  padding: 5px;
  margin: auto;
  margin-top: 50px;
  min-width: 400px;
}

.topic {
  flex: 1 0 10vw;
  /* border: 2px solid black; */
  text-align: center;
}

.topic2 {
  flex: 1 1 20vw;
  /* border: 2px solid black; */
  padding-left: 20px;
}

.topic3 {
  flex: 1 0 10vw;
  /* border: 2px solid black; */
  text-align: center;
}

.not-confident {
  background-color: red;
  border-radius: 5px;
}

.needs-revision {
  background-color: yellow;
  border-radius: 5px;
}

.feels-confident {
  background-color: green;
  border-radius: 5px;
}

.hi {
  margin-top: 0px;
  padding-top: 0px;
}
