.header-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100vw;
  width: 99.9%;
  margin: auto;
  padding-bottom: 10px;
  background-color: #e7530b;
}

.btn-div {
  padding: 29px 29px 0;
  color: white;
}

#dropdown-basic {
  color: #e7530b;
  background-color: #fff;
  border-radius: 5px;
  border: none;
  margin: 0;
  font-weight: bold;
}

#dropdown-basic:focus:active {
  background-image: none;
  outline: 0;
  box-shadow: none;
}

.bi {
  color: white;
}

.logo-display {
  padding: 22px 50px 15px 60px;
}
